<aside class="sidebar" id="sidebar-1" style="background-color: lightgray; padding: 20px; width: 20%">
    <ul class="ml-4">
        <li class="mt-2">Documentación
            <ul class="ml-4">
                <li>Lenguaje
                    <ul class="ml-4">
                        <li>Tipos de datos</li>
                        <li>Variables locales</li>
                        <li>Rule inputs</li>
                        <li>Constantes</li>
                        <li>Funciones frecuentes</li>
                      </ul>
                </li>
                <li>Grupos y seguridad
                    <ul class="ml-4">
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>Rule expressions
                    <ul class="ml-4">
                        <li>Editor de expresiones
                            <ul class="ml-4">
                                <li>Sección de testeo</li>
                                <li>Sección de rule inputs</li>
                            </ul>
                        </li>
                        <li>Queries
                            <ul class="ml-4">
                                <li>Queries a RecordTypes</li>
                                <li>Queries a Data Store Entity</li>
                            </ul>
                        </li>
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>Data Store Entity</li>
                <li>Custom Data Type (CDT)
                    <ul class="ml-4">
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>RecordType
                    <ul class="ml-4">
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>Interfaces
                    <ul class="ml-4">
                        <li>Editor de interfaces</li>
                        <li>Design mode</li>
                        <li>Expression mode</li>
                        <li>Ejercicio resuelto: Hola Mundo</li>
                        <li>función a!save</li>
                        <li>Testeo de la interfaz</li>
                        <li>Componentes más utilizados</li>
                        <li>ReadOnly Grid</li>
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>Informes: gráficos y cuadrículas</li>
                <li>Modelos de proceso
                    <ul class="ml-4">
                        <li>Diseño de procesos avanzados</li>
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>Sites
                    <ul class="ml-4">
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>SQL: procedimientos almacenados y vistas
                    <ul class="ml-4">
                        <li>Práctica</li>
                    </ul>
                </li>
                <li>Integraciones con APIs</li>
                <li>RPA</li>
                <li>Control de versiones</li>
                <li>Ejercicio final</li>
            </ul>
        </li>
        <li class="mt-2">Actualizaciones
          <ul class="ml-4">
            <li>Versión 23.2</li>
            <li>Versión 23.3</li>
            <li>Versión 23.4</li>
          </ul>
        </li>
        <li class="mt-2">Certificación</li>
      </ul>
</aside>